# /etc/systemd/system

[Unit]
Description=forcedeth.service

# Wants=network.target
# After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/wallpapers/forcedeth.sh
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
# WantedBy=multi-user.target
